.wrapper {
    padding: 50px;
    display: flex;
}

.image-container {
    flex: 1;
}

img {
    width: 1000px;
}

.info-container {
    flex: 1;
    padding: 0px 50px;
}

.title {
    font-weight: 200;
}

.price {
    font-weight: 100;
    font-size: 40px;
}

.button {
    padding: 15px;
    border: 2px solid black;
    background-color: white;
    cursor: pointer;
    font-weight: 500;
}