@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&family=Noto+Sans:wght@300&display=swap');

* {
    font-family: 'Noto Sans', sans-serif;

}

.container {
    height: auto;
}

.vinyl-img {
    border: 2px solid;
    border-color: black;
    width: inherit;
}

button {
    background-color: #1D6E8C;
    color: #fff;
    padding: 3px;
}

.vinyl-title {
    color: #000;
}

.vinyl-info {
    margin-top: -17px;
}

