:root {
    --tan-orange: #eda96c;
    --bright-orange: ##ec703d;
    --orange: #d83c23;
    --dark-blue: #0e2b55;
    --blue-3: #1d6e8c;
    --blue-2: #2f8a95;
    --blue-1: #83a8a0;
    --cream: #f4ddb3;
    --tan: #eda96c;
}



